
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Runs</title>
        <style>
            div{
            display: inline-block;
            }
            
        </style>
    </head>
    <body>

        <h1>Welcome to Runner<span th:text="', '+${name}"> </span>!</h1>
        <div th:text="'Today is '+${date}"></div>
        <hr/>
            <div><a href="/profile">Profile</a></div>   |   <div>Run</div>   |   <div><a href="/groups">Groups</a></div>
        <div><form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form></div>
        <hr/>
            <div>
                <h1>Runs:</h1>
            </div>
        
        <h2>Add new run</h2>

        <div>
            Enter information and press submit:<br/>
            <form action="/run" method="POST">
                Location: <input type="text" name="location" id="location"/><br/>
                Distance: <input type="text" name="distance" id="distance"/><br/>
                Duration: <input type="text" name="duration" id="duration"/><br/>
                Date: <input type="date" name="rundate" id="rundate"></input><br/ >
                <input type="submit"/>
            </form>
        </div>
        
        <ul>
            <li th:each="run : ${runs}">
                
                <div th:text="${run.rundate}+ ' - at ' +${run.location} + ' - ' +${run.distance}+' kilometers' + ' - '+${run.duration} + ' minutes'">run</div>
                <form th:action="@{/runs/{runId}(runId=${run.id})}" th:method="DELETE">
                    <input type="submit" value="Remove" th:id="${'remove-' + run.id}"/>
                </form><br/>
               
            </li>
        </ul>
       
    </body>
</html>

